.image-rating
  margin-top: 15px
  $active-color: #FACC2E
  a
    text-decoration: none
  i
    font-size: 40px
    color: #ccc
    &:hover, .active
      color: $active-color
  .active
    color: $active-color
.preview-image
  img
    max-height: 20px
