body
  background-image: url("/assets/pattern.png")
  background-size: 130px 130px
  padding-top: 60px
.container
  background-color: #fff
  padding: 40px 0px
@media (max-width: 480px)
  body
    padding: 0px
