.image, .image-show
  img
    max-width: 400px
    max-height: 400px
.image-show
  text-align: center
  position: relative
.arrow
  display: inline-block
  position: absolute
  top: 200px
  font-size: 70px
  color: #000
  &:hover
    color: #000
    text-decoration: none
.arrow-right
  right: 0px
.arrow-left
  left: 0px
@media (max-width: 979px)
  .arrow
    padding: 0px
