.image, .image-show
  img
    max-width: 400px
    max-height: 400px
.image-show
  text-align: center
  position: relative
.arrow
  position: absolute
  top: 50%
  font-size: 70px
  color: #000
  &:hover
    color: #000
    text-decoration: none
.icon-circle-arrow-right
  right: -30px
.icon-circle-arrow-left
  left: -30px
