@media (max-width: 979px)
  .navbar .brand
    padding-left: 10px
    padding-right: 10px
    margin-left: 20px
  .navbar-fixed-top, .navbar-fixed-bottom
    position: fixed
  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a
    padding-left: 30px
  .teaser
    border-right: none
